html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  background: #fcfcfc url(/imgs/bg.jpg) repeat;
  margin: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

#content {
  padding-top: 70px;
}

#footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 70px;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.ttt.container {
  width: 315px;
  margin-left: auto;
  margin-right: auto;
}

.ttt.container td {
  width: 105px;
  height: 105px;
  font-size: 2em;
}

.ttt.container td:hover {
  background-color: lightgray;
}

.cf.container {
  width: 315px;
  margin-left: auto;
  margin-right: auto;
}

.cf.container td {
  width: 45;
  height: 45px;
  font-size: 2em;
  padding: 0 !important;
}

.cf.container td:hover {
  background-color: lightgray;
}

@media (max-width: 767px) {
  .game.segment {
    padding: 0;
  }
}
