<template name="activeGames">
  <div class="ui container">
    <div class="ui fluid center aligned basic fitted game segment">
      <h1>Your Active Games</h1>

      <div class="ui hidden divider"></div>

      {{> activeGamesList}}
    </div>
  </div>
</template>

<template name="activeGamesList">
  <div class="ui basic segment" id="activeGamesSegment">
    <div class="ui large relaxed divided selection list">
      {{#each gameInstance in gameInstances}}
        {{> activeGameEntry gameInstance=gameInstance}}
      {{else}}
        Nothing here...
      {{/each}}
    </div>
    {{#if moreAvailable}}
      <a class="ui bottom attached secondary button" id="loadMoreGameInstances">
        Load more... ({{ moreCount }})
      </a>
    {{/if}}
  </div>
</template>

<template name="activeGameEntry">
  <a class="game instance item" href="{{ url gameInstance }}">
    <i class="large middle aligned blue circle icon"></i>
    <div class="content">
      <div class="header">{{ gameName gameInstance }}</div>
      <div class="description">Started {{ age gameInstance }}</div>
    </div>
  </a>
</template>
