<template name="home">
  <div class="ui container">
    <div class="ui fluid center aligned basic fitted game segment">
      <h1>Welcome to Meteor Games!</h1>
      <p>
        Play these games with your friends or against an AI.
      </p>

      <div class="ui hidden divider"></div>

      {{> gameOverview}}
    </div>
  </div>
</template>

<template name="gameOverview">
  <div class="ui basic segment" id="gameOverviewSegment">
    <div class="ui centered three stackable doubling game cards">
      {{#each games}}
        {{> gameCard}}
      {{/each}}
    </div>
  </div>
</template>

<template name="gameCard">
  <div class="ui game card" id="{{ gameId }}Card">
    <div class="content">
      <div class="ui large header" style="margin-bottom: -6px">
        <i class="game icon"></i>
        {{ name }}
      </div>
    </div>
    <div class="content">
      {{ description }}
    </div>
    <div class="extra content">
      <span class="right floated">
        <i class="repeat icon"></i>{{ nGamesStarted }} Games played
      </span>
      <span class="left floated">
        <i class="user icon"></i>{{ nPlayers }} Players
      </span>
    </div>
    <div class="ui bottom attached blue right labeled icon new game button">
      <i class="right arrow icon"></i>
      New Game
    </div>
  </div>
</template>
