<template name="connectFour">
  <div class="ui fluid center aligned basic fitted game segment">
    {{> inviteMessage}}
    <h1>Connect Four!</h1>
    <h2 id="statusString">{{ gameStatusString }}</h2>
    <div class="ui divider"></div>
    {{> cfBoard}}
  </div>
</template>

<template name="cfBoard">
  <div class="cf game container">
    <table class="ui selectable unstackable celled fixed three column compact table">
      {{#each row in rows}}
        {{> cfRow row=row rowIndex=@index}}
      {{/each}}
    </table>
  </div>
</template>

<template name="cfRow">
  <tr class="center aligned" id="r{{rowIndex}}">
    {{#each column in row}}
      {{> cfColumn col=column rowIndex=rowIndex colIndex=@index}}
    {{/each}}
  </tr>
</template>

<template name="cfColumn">
  <td id="c{{ colIndex }}" class="playerCell{{ cellPlayer rowIndex colIndex }}">{{ cell rowIndex colIndex }}</td>
</template>
