<template name="inviteMessage">
  <div class="ui hidden blue message" id="inviteMessage">
    <div class="content">
      <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="center aligned column">
          Share the URL with your friends to invite them to join.
        </div>
        <div class="ui vertical divider">
          Or
        </div>
        <div class="center aligned column">
          <button class="ui big blue labeled icon button" id="addAiButton">
            <i class="desktop icon"></i>
            Add an AI opponent
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
