<template name="tickTackToe">
  <div class="ui fluid center aligned basic fitted game segment">
    {{> inviteMessage}}
    <h1>Tick Tack Toe!</h1>
    <h2 id="statusString">{{ gameStatusString }}</h2>
    <div class="ui divider"></div>
    {{> tttBoard}}
  </div>
</template>

<template name="tttBoard">
  <div class="ttt game container">
    <table class="ui selectable unstackable celled fixed three column compact table">
      {{#each row in rows}}
        {{> tttRow row=row rowIndex=@index}}
      {{/each}}
    </table>
  </div>
</template>

<template name="tttRow">
  <tr class="center aligned" id="r{{ rowIndex }}">
    {{#each column in row}}
      {{> tttColumn col=column rowIndex=rowIndex colIndex=@index}}
    {{/each}}
  </tr>
</template>

<template name="tttColumn">
  <td id="c{{ colIndex }}" class="playerCell{{ cellPlayer rowIndex colIndex }}">{{ cell rowIndex colIndex }}</td>
</template>
